version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    # If you use env vars, create a .env file next to this compose file
    env_file:
      - .env
      - ./src/.env
    ports:
      - "8000:8000"
    networks:
      - app_net

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    volumes:
      - type: tmpfs
        target: /dev/shm
        tmpfs:
          size: 134217728 # 128*2^20 bytes = 128Mb
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: example
    networks:
      - app_net

networks:
  app_net:
    driver: bridge
